@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

button, input{
    outline: none;
}

.background{
    background-image: linear-gradient(to right top, #2c0859, #351473, #3d218e, #422faa, #433dc8);
    height: 100vh;
    width: 100%;
}

.background-flex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    color: #fff;
    box-shadow: -5px 5px 35px #000;
}

.background-flex img {
    max-width: 600px;
    object-fit: cover;
    border-top-left-radius: 100px;
}

.flex-register{
    width: 100%;
    padding: 3.5rem 4rem;
    mix-blend-mode: overlay;
}

.flex-register h2{
    text-align: center;
    margin-bottom: 2.5rem;
}

.flex-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-form input{
    width: 300px;
    margin: 10px;
    border: none;
    background: #5117bd;
    padding: 8px 10px;
    color: #dcdcdc;
    border-radius: 20px;
    font-size: 1.15rem;
}

.flex-form input::placeholder{
    color: #8974af;
}

.flex-form input[type='submit']{
    background: #fff;
    border: 1px solid #2c0859;
    color: #2c0859;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 600ms;
}

.flex-form input[type='submit']:hover{
    transform: translateY(-4px);
    box-shadow: 0px 4px 0px #fff;
}

.separator p{
    text-align: center;
    position: relative;
    margin: 1.5rem 0;
}

.separator p::before{
    position: absolute;
    content: "";
    top: 7px;
    left: 0%;
    width: 142px;
    height: 1px;
    background: rgb(207, 207, 207);
}

.separator p::after{
    position: absolute;
    content: "";
    top: 7px;
    left: 177px;
    width: 140px;
    height: 1px;
    background: rgb(207, 207, 207);
}

.login-btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    padding: 9px 0 7px 0;
    color: #2c0859;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 600ms;
    margin-top: 0.6rem;
}

.google{
    background: #DB4437;
    color: #fff;
}

.facebook{
    background: #3b5998;
    color: #fff;
}

@media(max-width: 1090px){
    .background-flex img{
        display: none;
    }
}

@media(max-width: 460px){
    .background {padding: 2rem;}
    .flex-register{
        padding: 0;
    }

    .background-flex{box-shadow: none;}
}